@mixin prefix($map, $vendors: webkit moz ms o) {
  @each $prop, $value in $map {
    @if $vendors {
      @each $vendor in $vendors {
        #{"-" + $vendor + "-" + $prop}: #{$value};
      }
    }
    // Dump regular property anyway
    #{$prop}: #{$value};
  }
}

@mixin transition($args...) {
  @include prefix(transition $args);
}

@mixin box-sizing($box-model) {
  @include prefix(box-sizing $box-model, webkit moz);
}

@mixin transform($val) {
  @include prefix(transform $val);
}

@mixin common-text-style() {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  -webkit-text-emphasis: initial;
  -webkit-text-fill-color: initial;
}