//
   Created by Tim Osadchiy on 06/09/2016.

.fc-gallery-failed-image
    .fc-gallery-failed-image-caption(title="Failed to load image from: #{fullSrc}")
        span.fc-image-typo Failed to load image from: #{shortSrc}

