@import "../mixins/main";
@import "../config";

@mixin btn-close-common() {
  $padding: 5px;
  border: none;
  background: transparent;
  font-size: 30px;
  padding: 0 0 $padding;
  line-height: 1em;
  vertical-align: top;
  position: relative;
  top: -5px;
  right: -5px;
}

.fc {
  &-tools {

    @mixin tools-visible() {
      @include transform(scale(1));
      opacity: 1;
    }

    @mixin tools-hidden() {
      @include transform(scale(1.5));
      opacity: 0;
    }

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    @include box-sizing(border-box);
    @include tools-hidden();
    @include transition(opacity .3s linear, transform .2s linear);

    &:hover {
      @include tools-visible();
    }

    .touch-screen & {
      @include tools-visible();
    }

    &.collapsed {
      @include tools-hidden();
    }

  }
  &-btn {
    $margin: $corner-btn-margin;

    display: inline-block;
    margin: 0;
    text-align: center;
    white-space: nowrap;

    color: $btn-color;
    background: $btn-background;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: $corner-btn-icon-size;
    height: $corner-btn-size;
    width: $corner-btn-size;
    outline: none;
    padding: 0;

    @include anchor-btn-hover-style();

    &-corner {
      z-index: 2;
      position: absolute;
    }

    &-top {
      &-left {
        top: $margin;
        left: $margin;
      }
      &-right {
        top: $margin;
        right: $margin;
      }
    }

    &-bottom {
      &-left {
        bottom: $margin;
        left: $margin;
      }
      &-right {
        bottom: $margin;
        right: $margin;
      }
    }

    &-close {
      z-index: 2;
      @include btn-close-common();
    }

  }
}