#{$class-prefix}image {
  #{$class-prefix}code-of-ethics {
    border: 1px solid $code-of-ethics-border-color;
    background: $corner-background;
    padding: 5px 10px;
    display: none;

    &.visible {
      display: block;
    }

    &-show {
      text-decoration: none;
      border-bottom: 1px dashed;
      cursor: pointer;
      @include transition(color $transition-duration $transition-type);

      &#{$class-prefix}image-a {
        text-decoration: none;
      }

    }

  }
}