@import "../config";
@import "../mixins/main";

body {
  // Normalise body within iframe
  margin: 0;
  // To remove scroll bar
  overflow: hidden;
}

ul {
  margin-top: 0;
}

#{$class-prefix}-image {
  position: relative;
  overflow: hidden;
  height: auto;

  * {
    @include box-sizing(border-box);
  }

  & > img {
    display: block;
    // max-width: 100%;
    width:100%;
  }

}

#{$class-prefix}-footer {
  text-align: right;
  padding: 6px; 
}

#{$class-prefix}-center-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}