@import "../config";
@import "../mixins/main";

body {
  @include common-text-style();
  font-family: $font-family;
}

h1 {
  font-size: $title-font-size;
  letter-spacing: $title-letter-spacing;
  font-weight: $title-font-weight;
  margin: $title-margin 0 $title-margin 0;
}

p {
  margin: 0 0 $paragraph-margin;
}

a {
  color: $btn-color;
  text-decoration: underline;
  @include transition(opacity $transition-duration $transition-type);

  &:hover,
  &:active,
  &:focus {
    opacity: $btn-opacity;
  }
}

#{$class-prefix}-image {
  color: $font-color;
}

#{$class-prefix}-footer {
  text-align: right;
  padding: 4px 0 4px 0;
}

#{$class-prefix}-icon {
  vertical-align: middle;
  display: inline-block;
  height: 1em;
  width: 1em;
  background: $fc-icon-uri;
}