@import "../config";
@import "../mixins/main";

body {
  @include common-text-style();
  font-family: $font-family;
}

h1 {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  margin: 0 0 $title-margin 0;
}

p {
  margin: 0 0 $paragraph-margin;
}

a {
  $color: $font-color;
  color: $color;
  @include transition(opacity $transition-duration $transition-type);

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    opacity: $btn-opacity;
  }
}

#{$class-prefix}-image {
  color: $font-color;
}

#{$class-prefix}-footer {
  text-align: right;
  padding: 4px 0 4px 0;
}

#{$class-prefix}-icon {
  vertical-align: middle;
  display: inline-block;
  height: 1em;
  width: 1em;

  &-brand {
    background: $fc-icon-uri;
  }

  &-context {
    background: $fc-icon-context;
  }

  &-info {
    background: $fc-icon-info;
  }

  &-links {
    background: $fc-icon-links;
  }

  &-copyright {
    background: $fc-icon-copyright;
  }

}

.text {
  &-right {
    text-align: right;
  }
}