@import "../config";
@import "../mixins/main";

#{$class-prefix}image {

  h1, p, ul, button, span {
    &#{$class-prefix}image-typo {
      @include common-text-style();
      font-family: $font-family;
    }
  }

  &-i {
    @include common-text-style();
  }

  h1 {
    &#{$class-prefix}image-typo {
      font-size: $title-font-size;
      letter-spacing: $title-letter-spacing;
      font-weight: $title-font-weight;
      margin: $title-margin 0 $title-margin 0;
    }
  }

  p {
    &#{$class-prefix}image-typo {
      margin: 0 0 $paragraph-margin;
    }
  }

  a {
    &#{$class-prefix}image-a {
      @include common-text-style();
      font-family: $font-family;
      color: $code-of-ethics-border-color;
      text-decoration: none;
      @include transition(color $transition-duration $transition-type);

      &:hover,
      &:active,
      &:focus {
        color: lighten($code-of-ethics-border-color, 10%);
      }
    }
  }

}