.fc-image {
  position: relative !important;
  overflow: hidden !important;
  height: auto !important; }
  .fc-image * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .fc-image > img {
    display: block;
    max-width: 100%; }

.fc-image * {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.03em;
  -webkit-text-emphasis: initial;
  -webkit-text-fill-color: initial; }

.fc-image h1 {
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 300;
  margin: 10px 0 10px 0; }

.fc-image p {
  margin: 0 0 10px; }

.fc-image a {
  color: #337ab7;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -ms-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  .fc-image a:hover, .fc-image a:active, .fc-image a:focus {
    color: #4f93ce; }

.fc-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }
  .fc-content-container {
    position: absolute;
    width: 100%;
    max-width: 260px;
    max-height: 100%;
    opacity: 0;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -ms-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear; }
    .fc-content-container.visible, .fc-content-container.pinned {
      opacity: 1;
      z-index: 2; }
  .fc-content-body {
    height: 100%;
    width: 100%;
    position: relative; }
  .fc-content-text {
    padding: 5px 15px 15px 10px;
    position: relative;
    z-index: 2;
    text-align: left;
    word-wrap: break-word; }
  .fc-content-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7; }
  .fc-content-fill {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%; }
  .fc-content-top-right {
    top: 0;
    right: 0; }
  .fc-content-bottom-left {
    bottom: 0;
    left: 0; }
  .fc-content-bottom-right {
    bottom: 0;
    right: 0; }
  .fc-content-copyright {
    display: inline-block; }

.fc-code-of-ethics {
  border: 1px solid #337ab7;
  background: #000;
  padding: 5px 10px;
  display: none; }
  .fc-code-of-ethics.visible {
    display: block; }
  .fc-code-of-ethics-show {
    text-decoration: none;
    border-bottom: 1px dashed;
    white-space: nowrap;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -ms-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear; }
    .fc-code-of-ethics-show:hover, .fc-code-of-ethics-show:active, .fc-code-of-ethics-show:focus {
      text-decoration: none; }

.fc-tools {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: opacity 0.3s linear, transform 0.2s linear;
  -moz-transition: opacity 0.3s linear, transform 0.2s linear;
  -ms-transition: opacity 0.3s linear, transform 0.2s linear;
  -o-transition: opacity 0.3s linear, transform 0.2s linear;
  transition: opacity 0.3s linear, transform 0.2s linear; }
  .fc-tools:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  .touch-screen .fc-tools {
    opacity: 1 !important;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    .touch-screen .fc-tools.collapsed {
      opacity: 0;
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5); }

.fc-btn {
  display: inline-block;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  position: absolute;
  color: #fff;
  background: #000;
  border: none;
  border-radius: 50%;
  padding: 6px;
  height: 30px;
  width: 30px;
  opacity: 0.7;
  outline: none;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear; }
  .fc-btn:hover, .fc-btn:active, .fc-btn:focus {
    opacity: 1; }
  .fc-btn-top-left {
    top: 5px;
    left: 5px; }
  .fc-btn-top-right {
    top: 5px;
    right: 5px; }
  .fc-btn-bottom-left {
    bottom: 5px;
    left: 5px; }
  .fc-btn-bottom-right {
    bottom: 5px;
    right: 5px; }
  .fc-btn-close {
    display: none;
    position: static;
    float: right; }
    .touch-screen .fc-btn-close.visible {
      display: inline-block; }

.fc-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .fc-gallery-failed-image {
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
    display: table; }
    .fc-gallery-failed-image-caption {
      display: table-cell;
      vertical-align: middle;
      font-size: 16px;
      white-space: normal;
      padding: 10px; }
  .fc-gallery ul {
    position: relative;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: margin-left 0.15s linear;
    -moz-transition: margin-left 0.15s linear;
    -ms-transition: margin-left 0.15s linear;
    -o-transition: margin-left 0.15s linear;
    transition: margin-left 0.15s linear; }
    .fc-gallery ul li {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      width: 100%;
      height: 100%;
      text-align: center; }
      .fc-gallery ul li img,
      .fc-gallery ul li iframe,
      .fc-gallery ul li .fc-gallery-failed-image {
        vertical-align: middle;
        opacity: 0.7;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transition: transform 0.15s linear, opacity 0.15s linear;
        -moz-transition: transform 0.15s linear, opacity 0.15s linear;
        -ms-transition: transform 0.15s linear, opacity 0.15s linear;
        -o-transition: transform 0.15s linear, opacity 0.15s linear;
        transition: transform 0.15s linear, opacity 0.15s linear; }
      .fc-gallery ul li img {
        max-width: 100%;
        max-height: 100%; }
      .fc-gallery ul li.hover img,
      .fc-gallery ul li.hover iframe,
      .fc-gallery ul li.hover .fc-gallery-failed-image, .fc-gallery ul li:hover img,
      .fc-gallery ul li:hover iframe,
      .fc-gallery ul li:hover .fc-gallery-failed-image {
        opacity: 0.85;
        -webkit-transform: scale(0.92);
        -moz-transform: scale(0.92);
        -ms-transform: scale(0.92);
        transform: scale(0.92); }
      .fc-gallery ul li.hover .fc-gallery-failed-image, .fc-gallery ul li:hover .fc-gallery-failed-image {
        opacity: 0.7; }
      .fc-gallery ul li.selected {
        cursor: default; }
        .fc-gallery ul li.selected img,
        .fc-gallery ul li.selected iframe,
        .fc-gallery ul li.selected .fc-gallery-failed-image {
          opacity: 1;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1); }
      .fc-gallery ul li.selected .fc-gallery-failed-image {
        opacity: 0.7; }
  .fc-gallery.expanded ul li img,
  .fc-gallery.expanded ul li iframe {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25); }
  .fc-gallery-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    width: 100%;
    display: none;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -ms-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear; }
    .fc-gallery-caption.visible {
      display: block; }
    .fc-gallery-caption-background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      opacity: 0.4; }
    .fc-gallery-caption-text {
      position: relative;
      height: 100%;
      width: 100%; }
  .fc-gallery-controls {
    background: transparent;
    height: 100%;
    width: 40px;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0.5;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -ms-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear; }
    .fc-gallery-controls.transparent {
      opacity: 0; }
    .fc-gallery-controls a {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff; }
      .fc-gallery-controls a:hover, .fc-gallery-controls a:active, .fc-gallery-controls a:focus {
        color: #cccccc; }
      .fc-gallery-controls a i {
        position: absolute;
        top: 50%;
        left: 5px;
        margin-top: -35px;
        font-size: 70px; }
  .fc-gallery-prev {
    left: 0; }
  .fc-gallery-next {
    right: 0; }
  .fc-gallery-close {
    z-index: 2;
    display: none; }
    .fc-gallery-close.visible {
      display: inline-block; }

/*# sourceMappingURL=style.css.map */