$title-font-size: 24px;
$title-letter-spacing: .1em;
$title-font-weight: 300;
$title-margin: 10px;
$font-size: 13px;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight: 300;
$letter-spacing: .03em;
$paragraph-margin: 10px;

$code-of-ethics-border-color: #337ab7;
$transition-duration: .1s;
$transition-type: linear;
$gallery-animation-speed: .15s;

$corner-background: #000;

$btn-background: #000;
$btn-color: #fff;
$btn-opacity: .8;
$class-prefix: '.fc-'
